---
title: Art
layout: page
eleventyExcludeFromCollections: true
---
<section>
    <h3 class="font-bold text-2xl text-gray-900 mb-2">🖥️ Digital</h3>
    <p class="text-base leading-6 text-gray-500 mb-3">Sunglasses sentient hotdog chrome Tokyo face forwards dead nodal point katana lights digital alcohol concrete long-chain hydrocarbons singularity boy urban.</p>

    Need to fix responsive
    <section class="mt-15 flex flex-wrap justify-between">
    {% for digital in collections.digital %}
    <article class="relative w-40 overflow-hidden rounded-lg shadow-lg">
      <img class="object-cover w-full h-full" src="../../static/img/{{ digital.data.imageName }}" alt="{{ digital.data.description }}"/>
      <div class="absolute bottom-0 left-0 px-6 py-4">
        <h3 class="mb-3 text-xl font-semibold tracking-tight text-white">
            {% if digital.data.title %}
                {{ digital.data.title }}
                {% else %}
                Untitled
            {% endif %}
        </h3>
        <p class="leading-normal text-gray-100 text-sm">
            {% if digital.data.description %}
                {{ digital.data.description }}
            {% endif %}
        </p>
      </div>
    </article>
    <!-- Stack under each card -->
    <!-- <a href="{{ digital.url | url }}" class="text-yellow-500 hover:text-lime-500">
        Read more →
    </a> -->
    {% endfor %}
</section>
</section>

