---
layout: default
---

<div class="container max-w-5xl mt-6 px-6">

    <h1 class="font-bold text-5xl">{{ title }}</h1>

    <section class="mt-14 grid grid-cols-1 md:grid-cols-2">
        
        <article>
            <img class="object-cover w-full h-full" src="../../static/img/{{ imageName }}" alt="{{ description }}" />
        </article>
        <article class="pl-6 prose lg:prose-xl my-4 mx-auto">
            <p>{{ content | safe }}</p>
            <p>{{ description }}</p>
            <time>{{ date | readableDate }}</time>
            <p>
                {% for tag in tags %}

                <!-- <a href="{{ post.url |url }}"> -->
                    <button class="text-xs bg-lime-100 text-gray-500 py-1 px-2 rounded-full mt-4">

                            {{ tag }}
                      
                    </button>
                <!-- </a> -->

                {% endfor %} 
            </p>

            <!-- {% if parent in tags %}
            <p>it works</p>
            {% else %} 
            <p>no</p>
            {% endif %} -->

            {% set previousPost = collections[parent] | getPreviousCollectionItem(page) %}
            {% set nextPost = collections[parent] | getNextCollectionItem(page) %}

            <h2>More in {{ parent }}:</h2>
           
            <ul class="list-none">
                <li>
                    {% if previousPost %}Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
                </li>
                <li>
                    {% if nextPost %}Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
                </li>
            </ul>


            <!-- <p class="text-xs p-6 bg-yellow-100">
                Check to see if we can get the frontmatter: <br>
                {{ title }} <br>
                {{ parent }} <br>
                {{ date }} <br>
                {{ tags }} <br>
                {{ description }} <br>
                {{ imageName }} <br>

                {{ content }} <br>
            </p> -->



       </article>
    </section> 

</div>