---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6">
    <div class="pb-6 mb-6 border-b border-lime-300">
        <h1 class="font-bold text-5xl">{{ title }}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

    </div>
    <article class="pb-6 mb-6 prose lg:prose-xl text-justify border-b border-lime-300">
        {{ content | safe }}
    </article>


    <!-- better formatting -->
    <div class="prose lg:prose-xl pb-6 my-4">
        
        {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
        {% set nextPost = collections.post | getNextCollectionItem(page) %}
           
                <p>
                    {% if previousPost %}Previous: <a href="{{ previousPost.url }}" class="hover:text-lime-500">{{ previousPost.data.title }}</a>{% endif %} <br>
            
                    {% if nextPost %}Next: <a href="{{ nextPost.url }}" class="hover:text-lime-500">{{ nextPost.data.title }}</a>{% endif %}
                </p>
    </div>
    

</div>

