_site/
_tmp/
.DS_Store
node_modules/
.vscode/
*git/
package-lock.json
.env

# Local Netlify folder
.netlify

# no images except svg
*.jpg
*.gif
*.png

# remove Netlify-specific image files
_headers
src/static/img/index.html